h1 {
    color: aliceblue;
    font-size: 35px;
}

.title-1 {
    color: yellow;
    @include font;
}

.title-2 {
    color: rgb(63, 63, 248);
    @include font;
}

.title-3 {
    color: orangered;
    @include font;
}

.title-4 {
    color: green;
    @include font;
}

.title-5 {
    color: orange;
    @include font;
}