h1 {
    color: aliceblue;
    font-size: 35px;
    @include font;
}

.title-1 {
    color: #F6EC40;
}

.title-2 {
    color: #4586C7;
}

.title-3 {
    color: #F56323;
}

.title-4 {
    color: #46B54C;
}

.title-5 {
    color: #EAB321;
}