* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
}

.main-cont-1 {
    background-color: azure;
    width: 100%;
    height: 300px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 16px 40px rgba(0,0,0,0.12);
    border:0;
}

