
.cont-btn {
    background-color: rgba(158, 158, 158, 0.404);
    width: 100%;
    height: 300px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 16px 40px rgba(0,0,0,0.12);
    border:0;
    transition: 0.3s;
}

#btn1 {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    width: 200px;
    height: 100px;
    background-color: azure;
    border-radius: 40px;
    transition: 0.2s;
    cursor: pointer;
    border: 0;
}