.cont-1-bgcolor {
    background-color: rgb(27, 27, 27);
    color: azure;
    transition: 0.2s;
}

.cont-2-bgcolor {
    background-color: rgb(10, 10, 10);
    color: azure;
    transition: 0.3s;
}

.btn-bgcolor {
    background-color: rgb(63, 63, 63) !important;
    color: rgb(177, 177, 177);
    transition: 0.1s;
}