.imgCar {
    width: 100%;
    height: 700px;
}

.titleCar {
    font-size: 70px;
    margin-bottom: 240px;
}

.descCar {
    font-size: 30px;
}

.carousel-item-1 {
    opacity: 1;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-item-2 {
    opacity: 1;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-item-3 {
    opacity: 1;
	transition-duration: .6s;
	transition-property: opacity;
}