* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './styles/mixins';
@import './styles/maintitle';
@import './styles/form';

.mainform__ini {
    width: 100%;
}

.mainform__ini-title {
    width: 100%;
    background-color: black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 56px;
}