* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
}

.main-cont-1 {
    background-color: azure;
    width: 100%;
    height: 300px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 16px 40px rgba(0,0,0,0.12);
    border:0;
    transition: 0.3s;
}

.main-cont-2 {
    background-color: rgba(158, 158, 158, 0.404);
    width: 100%;
    height: 300px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 16px 40px rgba(0,0,0,0.12);
    border:0;
    transition: 0.3s;
}

#btn1 {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    width: 200px;
    height: 100px;
    background-color: azure;
    border-radius: 40px;
    transition: 0.2s;
    cursor: pointer;
    border: 0;
}

/* hovers */

#btn1:hover {
    font-size: 40px;
    width: 250px;
    height: 130px;
    transition: 0.2s;
    border-radius: 10px;
}

/* mods */

.cont-1-bgcolor {
    background-color: rgb(27, 27, 27);
    color: azure;
    transition: 0.2s;
}

.cont-2-bgcolor {
    background-color: rgb(10, 10, 10);
    color: azure;
    transition: 0.3s;
}

.btn-bgcolor {
    background-color: rgb(63, 63, 63) !important;
    color: rgb(177, 177, 177);
    transition: 0.1s;
}